{% extends 'dashboard.html' %}
{% load static %}
{% block body %}

<table class="table mt-2">
    <caption>List of Orders</caption>
    <thead>
      <tr>
        <th scope="col" class="p-2">#</th>
        <th scope="col" class="p-2">User</th>
        <th scope="col" class="p-2">Uav</th>
        <th scope="col" class="p-2"></th>
        <th scope="col" class="p-2"></th>
      </tr>
    </thead>
    <tbody>
        {% for order in orders %}
      <tr>
        <th class="p-2" scope="row">{{ order.pk }}</th>
        <td class="p-2">{{ order.user.email }}</td>
        <td class="p-2">{{ order.uav.name }}</td>
        <td class="p-2"><a href="{% url 'order_delete' order.pk %}" class="btn btn-danger px-2">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation example" id="pagination-links">
    {% if page_obj.has_previous %}
        <a href="{% url request.resolver_match.url_name %}?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><span aria-hidden="true">&laquo;</span></a>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <a href="#" class="active">{{ i }}</a>
        {% else %}
            <a href="{% url request.resolver_match.url_name %}?page={{ i }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="{% url request.resolver_match.url_name %}?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><span aria-hidden="true">&raquo;</span></a>
    {% endif %}
</nav>
{% endblock body %}