{% extends 'dashboard.html' %}
{% load static %}
{% block body %}
<form
    method="post"
    class="form-horizontal h-100 d-flex align-items-center justify-content-center"
    enctype="multipart/form-data"
>
    {% csrf_token %}
    <div class="w-50">
        <h2>Brand Create</h2>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                        <p class="text-danger">{{field.label}}: {{ error|escape }}</p>
                {% endfor %}

            {% endfor %}
        {% endif %}
        <div class="form-group mb-2">
            <label for="">Name</label>
            <div class="col-sm-12">{{form.brand_name}}</div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <input
                    type="submit"
                    value="Submit"
                    class="btn btn-primary px-2 mt-2 mb-5"
                />
            </div>
        </div>
    </div>
</form>
{% endblock body %}