{% extends 'dashboard.html' %}
{% load static %}
{% block body %}

<a class="btn btn-primary px-2 mt-5" href="{% url 'category_add' %}">Add New Category</a>
<table class="table mt-2">
    <caption>List of Category</caption>
    <thead>
      <tr>
        <th scope="col" class="p-2">#</th>
        <th scope="col" class="p-2">Name</th>
        <th scope="col" class="p-2">Slug</th>
        <th scope="col" class="p-2"></th>
        <th scope="col" class="p-2"></th>
      </tr>
    </thead>
    <tbody>
        {% for category in categories %}
      <tr>
        <th class="p-2" scope="row">{{ category.pk }}</th>
        <td class="p-2">{{ category.category_name }}</td>
        <td class="p-2">{{ category.slug }}</td>
        <td class="p-2"><a href="{% url 'category_update' category.slug %}" class="btn btn-primary px-2">Edit</a></td>
        <td class="p-2"><a href="{% url 'category_delete' category.slug %}" class="btn btn-danger px-2">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation example" id="pagination-links">
    {% if page_obj.has_previous %}
        <a href="{% url request.resolver_match.url_name %}?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><span aria-hidden="true">&laquo;</span></a>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <a href="#" class="active">{{ i }}</a>
        {% else %}
            <a href="{% url request.resolver_match.url_name %}?page={{ i }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="{% url request.resolver_match.url_name %}?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><span aria-hidden="true">&raquo;</span></a>
    {% endif %}
</nav>
{% endblock body %}