{% extends 'index.html' %} {% load static %} {% block content %}

<div class="row">
    <div class="col-3 category">
        <h4>Filter</h4>
        <br>
        <hr>
        <br>
        <form method="GET">
            {{ filter.form.as_p }}
            <button type="submit" class="btn btn-primary mt-4 px-2">Search</button>
        </form>
    </div>
    <div class="col-8" style="margin-left: 60px !important">
        {% if messages %}
            <ul class="messages text-center bg-success">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <div class="row">
            {% for uav in page_obj %}
            <div class="card col-4 m-2 uav-card" style="width: 300px !important">
                <img
                    src="{% if uav.image is not None %}{{ uav.image.url }}{% else %}{% static 'media/default.jpg' %}{% endif %}"
                    class="card-img-top uav-card-image"
                    alt="uav_image"
                />
                <div class="card-body p-3">
                    <h5 class="card-title"><a href="{{ uav.get_absolute_url }}">Name: {{ uav.name }}</a></h5>
                    <p class="card-text">
                        Category: {{ uav.category.category_name }}
                    </p>
                    <p class="card-text">Brand: {{ uav.brand.brand_name }}</p>
                    <p class="card-text">Weight: {{ uav.weight }} kg</p>
                    <div class="card-body row justify-content-between mt-2">
                        <form method="post" action="{% url 'order_add' %}">
                            {% csrf_token %}
                            <input type="text" class="d-none" name="user" value={{ request.user.pk }}>
                            <input type="text" class="d-none" name="uav" value={{ uav.pk }}>
                            <button type="submit" class="btn btn-primary px-2">Order</button>
                        </form>
                        <p>{{ uav.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example" id="pagination-links">
            {% if page_obj.has_previous %}
                <a href="{% url request.resolver_match.url_name %}?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><span aria-hidden="true">&laquo;</span></a>
            {% endif %}
        
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <a href="#" class="active">{{ i }}</a>
                {% else %}
                    <a href="{% url request.resolver_match.url_name %}?page={{ i }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
                {% endif %}
            {% endfor %}
        
            {% if page_obj.has_next %}
                <a href="{% url request.resolver_match.url_name %}?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><span aria-hidden="true">&raquo;</span></a>
            {% endif %}
        </nav>
        
    </div>
</div>
{% endblock content %}
