{% load static %}
<nav class="navbar row p-3 justify-content-around">
    <div class="col-sm-6 logo align-self-center">UAV Rental</div>
    <div class="col-sm-6">
        <div class="row justify-content-end px-4">
            <ul class="navbar-nav ml-auto d-flex flex-row">
                <li class="nav-item ml-2"><a class="nav-link nav-a {% if '/' == request.path %} active {% endif %}" href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                <li class="nav-item ml-2"><a class="nav-link nav-a {% if 'dashboard' in request.path %} active {% endif %}" href="{% url 'uav_dashboard' %}">Dashboard</a></li>
                {% endif %}
                <li class="nav-item ml-2"><a class="nav-link nav-a {% if 'account/dashboard/user/' in request.path %} {% elif 'account/' in request.path %} active {% endif %}" href="{% url 'profile' request.user.pk %}">Profile</a></li>
                <li class="nav-item ml-2"><a class="nav-link nav-a {% if 'logout' in request.path %} active {% endif %}" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item ml-2"><a class="nav-link nav-a {% if 'login' in request.path %} active {% endif %}" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item ml-2"><a class="nav-link nav-a {% if 'register' in request.path %} active {% endif %}" href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
